<!DOCTYPE html>
<html>
    <head>
        <title>The Wall</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css" />
    </head>
    <body>
        <h1>Welcome to JibberJabber!</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages: %}
                {% for message in messages:%}
                    <p class="alert alert-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="section">
            <h3>Returning users, login</h3>
            <form method="POST" action="/users/login">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="email">Email: </label>
                    <div>
                        <input id="email" type="text" name="email"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="password">Password: </label>
                    <div>
                        <input id="password" type="text" name="password"/>
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Login"/>
            </form>
        </div>
        <hr>
        <h3>New users, sign up here</h3>
            <form method="POST" action="/users/register">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="first_name">First Name: </label>
                    <div class="col-sm-10">
                        <input id="first_name" type="text" name="first_name"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="last_name">Last Name: </label>
                    <div class="col-sm-10">
                        <input id="last_name" type="text" name="last_name"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="email">Email: </label>
                    <div class="col-sm-10">
                        <input id="email" type="text" name="email"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="password">Password: </label>
                    <div class="col-sm-10">
                        <input id="password" type="password" name="password"/><small id="passwordHelpInline" class="text-muted"> *Password must be min 8 characters.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="conf_pw">Confirm Password: </label>
                    <div class="col-sm-10">
                        <input id="conf_pw" type="password" name="conf_pw"/>
                    </div>
                </div>
                <div class="col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Sign Up"/>
                </div>
            </form>
        </div>

        </div>
    </body>
</html>