<!DOCTYPE html>
<html>
    <head>
        <title>The Wall</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css" />
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages: %}
                {% for category,message in messages:%}
                    <p class="alert alert-{{category}}">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
 
        <form action='/messages' method='POST'>
            <div class="form-group">
                <label for="message">Create a new message:</label>
                <textarea class='form-control' id="message" name="message" placehold="enter message"></textarea></p>
                <input class='btn btn-sm btn-primary' type="submit" value="add message"/>
            </div>
        </form>
        
        {% for user_message in user_messages%}
            <h6>{{user_message['first_name']}} {{user_message['last_name']}} - {{user_message["created_at"].strftime("%m/%d/%y %I:%M")}}</h6>
            <p class=''>{{user_message['message']}}
            
            {% if user_message['timediff'] < 30 and (user_message['uid'] == session['id']) %}
                <a href='/messages/{{user_message['id']}}/delete' name='delete'>delete</a>
            {% endif%}</p>
            <div class="list-group indent">
            
                {% for comment in comments: %}
                    {% if user_message['id'] == comment['message_id'] %}
                        <h6 class='md-1'>{{comment['first_name']}} {{comment['last_name']}} <small>{{comment['created_at'].strftime('%m/%d/%y %I:%M')}}</small></h6>
                        <p>{{comment['comment']}}</p>
                    {%endif%}
                {%endfor%}
            </div>
            <form class="indent" action="/messages/{{user_message['id']}}/comments" method="POST">
                <div class="form-group">
                    <label for="comment">Add a comment: </label>
                    <textarea class='form-control' id="comment" name="comment" placeholder='enter comment'></textarea>
                    <input class="btn btn-sm btn-outline-primary" type="submit" value="add comment"/>
                </div>
            </form>
            <hr>
        {% endfor %}



    </body>
</html>