<!DOCTYPE html>
<html>
    <head>
        <title>Survey Form</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'sf_app/css/style.css'%}" type="text/css" />
    </head>
    <body>
        <form action='/process' method='POST'>
            {% csrf_token %}
            <label for="name">Your Name:</label>
            <input id='name' type="text" name="name"/>
            <label for="location">Location:</label>
            <select id='location'name='location'>
                <option name="seattle">Seattle</option>
                <option name="mountainview">Mountain View</option>
                <option name="dallas">Dallas</option>
                <option name="chicago">Chicago</option>
            </select>            
            <label for="favlang">Favorite Language:</label>
            <select id='favlang' name='fav_lang'>
                <option name="python">Python</option>
                <option name="c">C#</option>
                <option name="javascript">JavaScript</option>
                <option name="Java">Java</option>
            </select>
            <label for="comment">Comment (optional):</label>
            <input type="textarea" name="comment" id='comment'/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>