<!DOCTYPE html>
<html>
    <head>
        <title>Survey Results</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}" type="text/css" />

    </head>
    <body>
        <div class="border">
            <h2>Submitted Info</h2>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>{{result.name}}</td>
                </tr>            <tr>
                    <td>Dojo Location:</td>
                    <td>{{result.city}}</td>
                </tr>            <tr>
                    <td>Favorite Languare:</td>
                    <td>{{result.fav_lang}}</td>
                </tr>            <tr>
                    <td>Comments:</td>
                    <td>{{result.comments}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>