h1 {
    margin: 15px auto;
    width: 450px;
    text-align: center;
    border: black 3px solid;
    padding: 100px;
    font-size: 35px;
}

h3 {
    margin: 80px auto 0px auto;
    width: 250px;
    border: black 3px solid;
    padding: 10px;
    text-align:center;
}


form{ 
    margin: 2px auto;
    width: 250px;
    text-align: center;
}